@import "../variables";

.ban {
  background-image: url('../../images/ban.jpg');
  background-size: cover;
}

.container {
  padding: 10px;
}

h2 a {
  color: $color-red;
  text-decoration: none;

  &:hover {
    color: $color-red;
  }
}

hr {
  display: block;
  border: 0;
  height: 3px;
  background-image: url('../../images/ban.jpg');
  background-size: cover;
}

.header {
  padding: 10px 10px 10px 0;

  .catch {
    float: right;
    color: $color-black;
  }

  .site-name {
    display: inline-block;
    margin-top: 8px;
    color: $color-black;
    background-color: rgba(244, 213, 148, 0.5);
    text-shadow: 1px 1px $color-white;
    font-size: 28px;
  }

  .languages {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    position: relative;
    top: -4px;

    img {
      height: 24px;
    }
  }
}

.main-menu-container {
  background-color: $color-black;

  ul.main-menu {
    margin: 0;
    list-style: none;
    display: flex;

    li {
      padding: 5px;
    }

    a {
      color: $color-white;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.unpublished {
  background-color: lightyellow;
}

.comment {
  background-color: $color-semi-light-gray;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid $color-red;

  .author {
    color: $color-red;
  }

  .reply-link {

  }
  .reply-link:hover {
    text-decoration: none;
  }
}

.centered {
  text-align: center;
}

footer {
  .copyright-bar {
    padding: 5px 0;
    font-size: 0.9em;
    text-align: center;
  }
}
