@font-face {
  font-display: swap;
  font-family: 'Noto Serif';
  src: url('../../fonts/NotoSerif-Regular.ttf');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSans-Light.ttf');
}
