@import "../variables";

.float-right {
  float: right;
}

.btn {
  color: $color-white;
  background-color: $color-black;
  border: 0;
  padding: 10px 15px;

  &:hover {
    background-color: $color-dark-gray;
  }
}
a.btn {
  text-decoration: none;

  &:hover {
    color: $color-white;
  }
}

.flash {
  position: fixed;
  top: 0;
  width: 80%;
  margin-left: 10%;
  background-color: rgba(252, 254, 21, 0.7);
  color: $color-dark-gray;
  padding: 10px;
  text-align: center;
  z-index: 100;
}
.flash-success {
  background-color: rgba(252, 254, 21, 0.7);
  color: $color-dark-gray;
}
.flash-danger {
  background-color: rgba(193, 28, 34, 0.7);
  color: $color-semi-light-gray;
}
