$color-black: #1a1a1a;
$color-dark-gray: #424242;
$color-light-gray: #c3c3c3;
$color-semi-light-gray: #e5e5e5;
$color-very-light-gray: #fcfcfc;
$color-white: #f2f2f2;
$color-light-yellow: #f4d594;
$color-yellow: #fcfe15;
$color-red: #ba3925;
